<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empresas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.min.css}">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h1>Empresas</h1>

    <a th:href="@{/Empresa/empresa}">Crear Empresa</a><br>

    <table border="1">
       <tr>
           <th>Nit Empresa</th>
           <th>Razon Social</th>
           <th>Direccion</th>
           <th>Telefono</th>
           <th>E-Mail</th>
           <th>Editar</th>
           <th>Eliminar</th>
       </tr>
        <tr th:each = "empresa : ${listadoempresa}">
            <td th:text = "${empresa.nitEmpresa}"></td>
            <td th:text = "${empresa.razonSocialEmpresa}"></td>
            <td th:text = "${empresa.dirEmpresa}"></td>
            <td th:text = "${empresa.telEmpresa}"></td>
            <td th:text = "${empresa.emailEmpresa}"></td>
            <td><a th:href="@{/editEmpresa/}+ ${empresa.idEmpresa}" th:text="Editar"></a></td>
            <td><a th:href="@{/delEmpresa/}+ ${empresa.idEmpresa}" th:text="Eliminar"></a></td>
        </tr>
    </table>

    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>

</body>
</html>