<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.min.css}">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h1>Usuarios</h1>
    <a th:href="@{/Usuario/usuario}">Crear Usuario</a><br>
    <a th:href="@{/Usuario/rol}">Rol</a><br>
    <a th:href="@{/Usuario/tipodocumento}">Tipo de Documento</a><br>

    <table border="1">
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo Documento</th>
            <th>Nro Identificacion</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>E-mail</th>
            <th>Cargo</th>
            <th>Empresa</th>
            <th>Editar</th>
            <Th>Eliminar</Th>
        </tr>
        <tr th:each = "Usuario : ${listadoUsuario}">
            <td th:text = "${Usuario.nombreUsuario}"></td>
            <td th:text = "${Usuario.apellidoUsuario}"></td>
            <td th:text = "${Usuario.TipoDocumento.descripcionTipodocumento}"></td>
            <td th:text = "${Usuario.nroIdentificacion}"></td>
            <td th:text = "${Usuario.dirUsuario}"></td>
            <td th:text = "${Usuario.telUsuario}"></td>
            <td th:text = "${Usuario.emailUsuario}"></td>
            <td th:text = "${Usuario.rolUsuario.descripcionRol}"></td>
            <td th:text = "${Usuario.empresa.razonSocialEmpresa}"></td>
            <td><a th:href = "@{/editUser/} + ${Usuario.idUsuario}" th:text="Editar"></a></td>
            <td><a th:href = "@{/delUser/} + ${Usuario.idUsuario}" th:text="Eliminar"></a></td>

        </tr>
    </table>

    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>

</body>
</html>