<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Egreso</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.min.css}">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h1>Registro de Ingresos</h1>

    <form th:action="@{/nuevoIngreso}" method="post" th:object="${ingreso}">
        <label for="tipomov">Tipo de Movimiento</label>
        <input type="text" name="tipomov" th:field="*{tipoMovDinero}">
        <br>
        <label for="fIngreso">Fecha </label>
        <input type="date" name="fIngreso" th:field="*{fechaIngreso}">
        <br>
        <label for="vIngreso">Valor </label>
        <input type="text" name="vIngreso" th:field="*{valorIngreso}">
        <br>
        <label for="cIngreso">Concepto</label>
        <input type="text" name="cIngreso" th:field="*{conceptoIngreso}">
        <br>
        <label for="empresa">Empresa</label>
        <select th:field="*{empresaMovDinero.idEmpresa}" name="empresa">
            <option value="0" selected>Seleccione Empresa Egreso</option>
            <option th:each="empresa : ${empresas}"
                    th:value="${empresa.idEmpresa}"
                    th:text="${empresa.razonSocialEmpresa}"
            ></option>
        </select>
        <br>
        <label for="usuario">Usuario</label>
        <select th:field="*{userMovDinero.idUsuario}" name="usuario">
            <option value="0" selected>Selecciones Usuario Egreso</option>
            <option th:each="usuario : ${listadoUsuario}"
                    th:value="${usuario.idUsuario}"
                    th:text="${usuario.nombreUsuario} + ${usuario.apellidoUsuario}"
            ></option>
        </select>
        <br>
        <input type="submit" name="guardar" value="Guardar"><br>
        <a th:href = "@{/RegistroFinanciero/MovimientoFinanciero}">Atras</a>

    </form>

    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>